<aside class="sidebar">

	<div class="sidebar__top">

		<div class="sidebar__logo">
			<i data-lucide="hexagon" style="width: 32px; height: 32px; stroke: #22c55e;"></i>
			<span class="logo-text">FOCUS</span>
			<button class="sidebar__toggle" id="sidebarToggle">
				<i data-lucide="chevrons-left-right"></i>
			</button>
		</div>

		<nav class="sidebar__menu">

			<a class="sidebar__item" data-page="dashboard" href="../dashboard/index.html">

				<i data-lucide="layout-dashboard"></i>
				<span>Dashboard</span>

			</a>

			<a class="sidebar__item" data-page="projects" href="../projects/index.html">

				<i data-lucide="folder-kanban"></i>
				<span>Projects</span>

			</a>

			<a class="sidebar__item" data-page="tasks" href="../tasks/index.html">

				<i data-lucide="check-square"></i>
				<span>Tasks</span>

			</a>

			

			<a class="sidebar__item" data-page="employees" href="../employees/index.html">

				<i data-lucide="users"></i>
				<span>Employees</span>

			</a>

			<a class="sidebar__item" data-page="clients" href="../clients/index.html">

				<i data-lucide="building"></i>
				<span>Clients</span>

			</a>

			<a class="sidebar__item" data-page="finance" href="../finance/index.html">

				<i data-lucide="wallet"></i>
				<span>Finance</span>

			</a>

			<a class="sidebar__item" data-page="reports" href="../reports/index.html">

				<i data-lucide="bar-chart"></i>
				<span>Reports</span>

			</a>

			<a class="sidebar__item" data-page="settings" href="../settings/index.html">

				<i data-lucide="settings"></i>
				<span>Settings</span>

			</a>

		</nav>

	</div>


	<div class="sidebar__bottom">

		<button class="logout-btn" id="logoutBtn">

			<i data-lucide="log-out"></i>

			<span>Log out</span>

		</button>

	</div>
</aside>